@media only screen and (max-width: 992px) {
    .site-footer {
        padding-top: 2em;
    }
    .salao-equipe {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .image-container {
        margin-bottom: 80px;
    }

    .serv-types .serv-type-item img,
    .serv-types .serv-type-item-left img {
        width: 200px !important;
        height: 200px !important;
    }

    /* Blog */


    .blog {
        display: flex;
        flex-direction: row;
    }

    .head-blog p {
        width: 80% !important;
    }
    .item-blog {
        width: 100% !important;
        margin-left: 15px !important;
    }

    .text-blog h3{
        font-size: 20px;
    }
    .text-blog p{
        font-size: 14px;
    }

    .footer-blog{
        margin-left: 20px;
    }
    .footer-blog p{
        font-size: 12px;
    }


    /* Post */

    .head-post h2 {
        position: relative !important;
        width: 90% !important;
    }

    .head-post img {
        height: 20vh !important;
    }


    /* Contato */
    .contato {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contato-email {
        max-width: 80%;
    }

    .contato-email .contato-form .input {
        width: 100%;
        max-width: 100%;
    }

    .info-contato {
        padding: 0 20px;
    }

}