@media only screen and (max-width: 992px) {

    nav {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        margin-left: 0;
    }

    .navbar-expand-md .navbar-nav .nav-link:before {
        display: none;
    }

    .navbar-toggler {
        margin-right: 5px;
        margin-left: auto;
    }

    .btn-sigin-whats,
    .btn-sigin-face,
    .btn-sigin-insta {
        padding: 5px;
    }

    .site-footer {
        padding-top: 4em;
        padding-bottom: 1em;
    }

    .logo-footer img {
        width: 200px;
        margin-top: 30px;
    }

    .copyright-text {
        text-align: center;

    }


    .equipe {
        width: 45%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .salao-equipe {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .image-container {
        margin-bottom: 80px;
    }

    .text-behind {
        font-size: 14px;
        border-radius: 0 0 100px 100px;
    }

    .serv-types .serv-type-item img,
    .serv-types .serv-type-item-left img {
        width: 200px !important;
        height: 200px !important;
    }

    /* Blog */


    .blog {
        display: flex;
        flex-direction: column;
    }

    .head-blog p {
        width: 80% !important;
    }

    .item-blog {
        width: 100% !important;
        margin-left: 0 !important;
    }


    /* Post */

    .head-post h2 {
        position: relative!important;
        bottom: -55px !important;
        width: 90% !important;
    }
    .head-post img{
        height: 50vh!important;

    }


    .contato {
        align-items: center;
        text-align: center;
      }
    
      .contato-email {
        max-width: 80%;
      }
    
      .contato-email .contato-form .input {
        width: 100%;
        max-width: 100%;
      }
    
      .info-contato {
        padding: 0 20px;
      }

}