@media only screen and (max-width: 992px) {

    p {
        font-size: 22px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 35px;
    }

    h5 {
        font-size: 25px;
    }

    .container .slider p {
        font-size: 18px;
    }

    header .nav li a {
        font-size: 22px;
    }

    .carousel-title {
        font-size: 60px;
    }

    .carousel-text {
        font-size: 22px;
    }

    .site-footer {
        padding-top: 2em;
    }

    .salao-equipe {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .image-container {
        margin-bottom: 80px;
    }

    .serv-types .serv-type-item img,
    .serv-types .serv-type-item-left img {
        width: 200px !important;
        height: 200px !important;
    }

    /* Blog */


    .blog {
        display: flex;
        flex-direction: row;
    }

    .head-blog p {
        width: 80% !important;
    }

    .item-blog {
        width: 100% !important;
        margin-left: 15px !important;
    }

    .text-blog h3 {
        font-size: 20px;
    }

    .text-blog p {
        font-size: 14px;
    }

    .footer-blog {
        margin-left: 20px;
    }

    .footer-blog p {
        font-size: 12px;
    }


    /* Post */

    .head-post h2 {
        position: relative !important;
        width: 90% !important;
    }

    .head-post img {
        height: 20vh !important;
    }


    /* Contato */
    .contato {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contato-email{
        max-width: 100%!important;
    }

    .contato-email .contato-form .input {
        height: 50px;
        width: 100%;
        max-width: 100%;
    }

    .contato-email .contato-form textarea{
        height: 200px!important;
    }

    .contato-form .btn{
        width: 50%!important;
        padding: 15px 0;
    }
}