.caixa-equipe{
  padding: 50px;
}

.titulo-caixa {
  text-align: center;
}

.titulo-caixa h2 {
  display: inline-block;
  background-color: #C8A2C8;
  padding: 0 20px;
  position: relative;
}

.titulo-caixa h2:before,
.titulo-caixa h2:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.titulo-caixa h2:before {
  right: 100%;
  margin-right: 20px;
}

.titulo-caixa h2:after {
  left: 100%;
  margin-left: 20px;
}

.salao-equipe {
  display: flex;
  justify-content: space-around;
}

.equipe {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px double #652C53;
}

.equipe img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.rotate-image {
  display: block;
  width: 100%;
  height: auto;
  transition: all .5s ease-in-out;
}

.rotate-image:hover {
  opacity: .7;
  transform: scale(0.9);
}

.text-behind {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 0  0 200px 200px;
}

.text-behind.active {
  opacity: 1;
}

.image-container:hover .text-behind {
  opacity: 1;
}
