.bg-sobre {
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../public/img/img-bg-sobre.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-sobre h1 {
    padding: 80px 0;
    color: #fff;
}


.dados-sobre {
    display: flex;
    align-items: center;
}

.img-sobre {
    position: relative;
}

.img-sobre1 {
    width: 380px;
    border-radius: 20px;
}

.img-sobre2 {
    position: absolute;
    left: 50%;
    bottom: -80%;
    width: 200px;
    border-radius: 20px;
}

.text-sobre {
    flex: 1;
    padding-left: 50px;
}

.text-sobre P {
    color: #464444;
}

.valores {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.box-valores {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 3px double #652C53;
    padding: 20px;
    transition: .8s;
    margin-top: 40px;
}

.box-valores p {
    color: #464444;

}

.box-valores:hover {
    background-color: #f3daf3;
    transition: .8s;
}

@media screen and (max-width: 728px) {

    .valores {
        padding-top: 50px;
    }

    .box-valores {
        width: 250px;
        height: 450px;
        margin-top: 20px;
    }
}

.box-valores i {
    border-radius: 10px;
    font-size: 25px;
    background-color: #C8A2C8;
    padding: 25px;
    transition: 1.8s ease;
    margin: 10px;
}

.box-valores i:hover {
    transform: rotate(360deg);
    font-size: 35px;
}